PORT=3000
DB_FILE=./data/citas.sqlite
SITE_URL=http://localhost:3000
FROM_EMAIL=no-reply@citasapp.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario@example.com
SMTP_PASS=tu_contraseña

# Ejemplo Gmail SMTP
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=tuemail@gmail.com
# SMTP_PASS=tu_password_o_app_password
